.c-areas {
  &__area-listing {
    display: flex;
    flex-wrap: wrap;
    gap: $global-spacing-10;
    justify-content: center;
  }

  &__item {
    flex: 1 1 325px;
  }
}

.c-area-edit {
  &__actions {
    display: flex;
    padding: $global-spacing-10 0;
    gap: $global-spacing-10;
  }

  &__form {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    align-items: baseline;
  }

  &__form-actions {
    display: flex;
    gap: $global-spacing-3;
  }

  &__shapefile {
    display: flex;
    gap: $global-spacing-3;
    align-items: center;
  }
}

.c-area-card {
  &__image {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }
}