.c-article {
  h2 {
    margin-bottom: 40px;
  }
  .section {
    padding-top: 30px;
  }
  .admin-selected {
    color: $theme-accent;
    padding-left: 10px;
  }

  .title {
    font-weight: bold;
    padding-bottom: 10px;
  }
  .area-image-container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    .area-item {
      padding-right: 120px;
      padding-left: 20px;
      border-right: solid 2px lightgray;
      .area-image {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 3px;
        background-color: $medium-gray;
        margin-bottom: 10px;
        width: 70px;
        height: 47px;
      }
    }
    > .area-item:first-child {
      padding-left: 0;
    }
    > .area-item:last-child {
      border: none;
    }
  }
}
