.c-button {
  padding: 10px 25px;
  border: 1px solid $theme-accent;
  border-radius: 20px;
  background: $theme-accent;
  color: $white;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $font-weight-bold;
  cursor: pointer;
  outline: 0;

  &.-light {
    border-color: $theme-accent;
    background: $light-green;
    color: $gray;

    &:active {
      background-color: darken($light-green, 7%);
    }
  }

  &.-small {
    padding: 10px 15px;
    font-size: 12px;
    font-weight: $font-weight-regular;
  }

  &.-white {
    background-color: $white;
    border: 0;

    &:active {
      background-color: darken($white, 7%);
    }
  }
}