.c-button {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 30px;
  border: 1px solid $theme-accent;
  border-radius: 20px;
  background: $theme-accent;
  color: $white;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $font-weight-bold;
  cursor: pointer;
  outline: 0;
  text-transform: uppercase;

  &.-light {
    border-color: $theme-accent;
    background: $light-green;
    color: $gray;

    &:active {
      background-color: darken($light-green, 7%);
    }
  }

  &.-small {
    padding: 0 20px;
    font-size: 12px;
  }

  &.-white {
    background-color: $white;
    border: 0;

    &:active {
      background-color: darken($white, 7%);
    }
  }

  &.-transparent {
    border-color: rgba($theme-secondary, 0.3);
    background: $theme-base;
    color: $gray;

    &:active {
      background-color: darken($light-green, 7%);
    }
  }

  &.-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12.5px;
  }
}
