.c-context-menu {
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  transform: translateX(-100%);
  animation: context-menu-appear 0.08s linear;

  &__item {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #555555;
    padding: 10px 16px 8px;
    border: 1px solid #DCDCDC;
    cursor: pointer;

    &:not(:first-child) {
      margin-top: -1px;
    }

    &:hover {
      background-color: #E3ECC6;
    }
  }
}

@keyframes context-menu-appear {
  0% {
    opacity: 0.8;
    transform: translateX(-100%) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: translateX(-100%) scale(1);
  }
}
