.c-dashboard {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-direction: column;

  .content-section {
    padding: 40px 0;
  }

  li {
    padding: 20px 0;
    border-bottom: grey solid 1px;
  }
}
