.c-data-filter {
  display: flex;
  align-items: center;
  gap: $global-spacing-15;
  background: $white;
  border: 2px solid rgba(85, 85, 85, 0.1);
  border-radius: 4px;
  padding: $global-spacing-4 $global-spacing-6;

  &__label {
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: $neutral-700;
    text-transform: uppercase;
  }

  &__filters {
    display: flex;
    gap: $global-spacing-10;
    align-items: center;
    .c-input {
      align-items: center;
    }
    .c-input__label {
      font-weight: 400;
      font-size: 14px;
      text-transform: capitalize;
      margin-top: 0px;
    }
  }
}