.c-form {
  height: $footer-height;
  display: flex;
  justify-content: space-between;
  align-items: center;

  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
    outline: none;
  }

  label {
    padding-right: 15px;
  }

  input {
    height: 40px;
	  border-radius: 4px;
	  background-color: #ffffff;
	  border: solid 1px #e6e6e6;
    padding: 0 15px;
  }

  .horizontal-field {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
