.c-form {
  position: relative;
  
  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
    outline: none;
  }

  label {
    padding-right: 15px;
  }

  input {
    height: 40px;
	  border-radius: 4px;
	  background-color: #ffffff;
	  border: solid 1px #e6e6e6;
    padding: 0 15px;

    &::placeholder {
      color: rgba($theme-text, 0.3);
    }
  }

  .horizontal-field {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .horizontal-field-left-aligned {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    input, .delete-button, .user-label, .c-checkbox {
      margin-right: 10px;
      flex: 1;
    }
    .hidden{
      visibility: hidden;
    }
  }

  .input-group {
    padding-top: 30px;
    .form-control, .Select{
      padding-top: 10px;    
      input {
        width: 100%;
      }
    }
  }

  .-main {
    min-height: 500px; 
    height:auto !important; 
    height: 500px; 
  }

  &.-nav {
    height: $footer-height;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .areas-inputs {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
    }

    .upload-field {
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      .text {
        margin-right: 5px;
      }
    }

    .separator {
      width: 1px;
      margin: 0 30px;

      &.-vertical {
        border-left: solid 1px rgba($pale-gray, 0.2);
        height: 100%;
      }
    }
  }
}
