.c-hero {
  height: 150px;
  background-color: $theme-secondary;

  .hero-content {
    height: 100%;
  }

  .hero-section {
    height: 100%;
    display: flex;
    align-items: center;

    h1 {
      color: $white;
      font-size: $font-size-x-large;
      font-weight: $font-weight-light;
    }

    &:last-child {
      justify-content: flex-end;
    }
  }
}