.c-hero {
  display: flex;
  align-items: center;
  height: 150px;
  background-color: $dark-gray;

  .hero-content {
    display: flex;
    justify-content: space-between;

    h1 {
      color: $white;
      font-size: $font-size-x-large;
      font-weight: $font-weight-light;
    }
  }
}