.c-icon {
  margin: 0 5px;
  width: 20px;
  height: 20px;
  flex-shrink: 0;

  &.-small {
    width: 15px;
    height: 15px;
  }

  &.-medium {
    width: 24px;
    height: 24px;
  }

  &.-big {
    width: 32px;
    height: 32px;
  }

  &.-huge {
    width: 74px;
    height: 74px;
  }

  &.-green {
    fill: $theme-accent;
  }

  &.-white {
    fill: $white;
  }

  &.-transparent {
    fill: transparent;
  }

  &.-stroke-green {
    stroke: $theme-accent;
  }

  //transformations
  &.-rotate-right {
    transform: rotate(-90deg);
  }
}
