.c-landing {
  height: 100vh;

  .landing-content {
    height: calc(100% - 58px);
  }

  .row {
    .info-column.gwf-grid-adjusted {
      margin-left: 7%;
    }
    .image-column.gwf-grid-adjusted {
      margin-left: 9.666%;
    }
  }
  .logo-image {
    background-image: url(/images/logo-gfw@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 90px;
  }

  .image-column {
    position: relative;
    height: 100%;
  }

  .phone-screen {
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

    .phone-image {
      position: relative;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      background-image: url(/images/phone@2x.png);
      background-size: contain;
      background-repeat: no-repeat;
      height: 75%;
      width: 85%;
      z-index: 4;
    }

  }

  .description {
    color: $disabled-font-color;
    font-size: 14px;
    line-height: 1.57;
    margin-top: 16px;
  }

  .login-button {
    margin-top: 20px;
    margin-right: 6px;
    width: 226px;
  }

  .build-buttons {
    a {
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
      height: 50px;
      width: 150px;
    }
    .button-ios-image {
      background-image: url(/images/app-store@2x.png);
    }

    .button-android-image {
      background-image: url(/images/google-play@2x.png);
      margin-left: 12px;
    }
  }



  h1 {
    color: $theme-accent;
    font-size: 66px;
    padding-bottom: 16px;
  }
  h2 {
    color: $gray;
    font-size: 17px;
    line-height: 1.65;
    letter-spacing: -0.2px;
    padding-bottom: 16px;
  }
}
