.c-locate-user {
  position: absolute;
  top: 20px;
  right: 70px;
  display: flex;
  flex-direction: column;
  z-index: 1000;

  .button {
    background-color: $theme-base;
    padding: 10px 10px;
    margin-bottom: 2px;
    border-radius: 2px;
    cursor: pointer;
  }
}
