.c-layers-show {
  .list-row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $medium-gray;
    padding-bottom: 16px;
    margin-top: 16px;

    .layers-title {
      margin: 0;
    }
    
    .layer-name {
      text-transform: uppercase;
    }
  }
  .c-icon {
    margin-right: 18px;
  }
}
