.c-landing {
  height: 100vh;

  .logo-image {
    background-image: url(/images/logo-gfw@2x.png) !important;
    background-repeat: no-repeat;
    background-size: contain;
    height: 90px;
  }

  .build-buttons {
    display: flex;
    a {
      flex: 1;
      height: 50px;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  .phone-screen {
    position: relative;
    div {
      background-repeat: no-repeat;
      position: absolute;
      left: 50px;
      right: 0;
      bottom: 0;
    }
    .phone-image {
      top: 0%;
      height: 700px;
      background-size: contain;
      background-image: url(/images/phone@2x.png) !important;
      z-index: 4;
    }

    .screen-image {
      top: 83px;
      left: 71px;
      height: 617px;
      background-size: contain;
      width: 402px;
      background-image: url(/images/screen-1@2x.png) !important;
      z-index: 5;
    }

  }

  .main {
    padding-top: 200px;
  }

  .login-bar {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    color: $disabled-font-color;
    margin-top: 20px;
    margin-bottom: 40px;

    .login-button {
      margin-left: 20px;
      margin-right: 6px;
    }
  }

  .button-ios-image {
    background-image: url(/images/app-store@2x.png) !important;
  }

  .button-android-image {
    background-image: url(/images/google-play@2x.png) !important;
  }


  h1 {
    color: $theme-accent;
    font-size: 3em;
    padding-bottom: 16px;
  }
  h2 {
    color: $disabled-font-color;
    line-height: 24px;
    font-size: 1.2em;
    padding-bottom: 16px;
  }
}
