.c-member-list {
  padding-top: 20px;
  padding-left: 10px;
  .horizontal-field-left-aligned {
    display: flex;
    padding-top: 20px;
    align-items: flex-end;
    justify-content: space-between;
  }
}
