.c-member-list {
  padding-left: 10px;
  padding-right: 30px;
  
  .horizontal-field-left {
    padding-top: 20px;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 30px;
  }
}
