.c-nav {
  display: flex;
  height: 100%;

  .nav-section {
    display: flex;
    align-items: center;


    &:first-child {
      flex: 0.4;
      justify-content: flex-start;
    }

    &:last-child {
      flex: 0.6;
      justify-content: flex-end;
    }
  }

  .nav-subsection {
    display: flex;
    align-items: center;
    border-right: 1px solid $border-gray;
  }

  .nav-link {
    padding-right: 60px;

    > a {
      display: block;
      position: relative;
      padding: 18px 10px;
      font-weight: $font-weight-bold;
      color: rgba($white, 0.5);
      cursor: pointer;

      &::after {
        display: block;
        position: absolute;
        content: '';
        height: 2px;
        width: 0;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: white;
        transition: width .15s $ease-out-cubic;
      }

      &:hover {
        &::after {
          width: 100%;
        }
      }

      &.-active {
        color: $white;
        pointer-events: none;

        &::after {
          width: 100%;
        }
      }
    }
  }

  .nav-menu,
  .nav-logo {
    > a {
      color: $theme-accent;
      font-weight: $font-weight-bold;
      cursor: pointer;
      display: block;
      position: relative;
      padding: 18px 0;

      &:hover {
        color: lighten($theme-accent, 10%);
      }
    }
  }

  .nav-menu {
    padding-left: 60px;
  }

}
