.c-search-bar {
  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
    outline: none;
  }

  input {
    height: 36px;
    width: 95%;
	  border-radius: 4px;
	  background-color: #ffffff;
	  border: solid 1px #ccc;
    padding: 0 15px;
  }
}
