.c-search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
  height: 40px;
  
  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
    outline: none;
  }

  input {
    height: 100%;
    margin-right: 10px;
	  border-radius: 4px;
	  background-color: #ffffff;
	  border: solid 1px #e6e6e6;
    padding: 0 15px;
    font-size: $font-size-regular;
    color: $gray;

    &::placeholder {
      opacity: 0.5;
    }
  }

  .datepicker {
    height: 40px;
    width: 100%;
  }

  .react-datepicker__close-icon {
    display: block;

    &::after {
      background-color: #fff;
      color:#666;
      font-size: 20px;
      right: 12px;
      margin: -11px auto 0;
    }
  }
}
