.c-zoom-control {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1000;

  .zoom-control-btn {
    background-color: $theme-base;
    padding: 10px 5px;
    margin-bottom: 2px;
    cursor: pointer;
  }
}
