{
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "L": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 7,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": [
    "babel",
  ],
  "settings": {
    "import/resolver": {
      "babel-module": {
      }
    }
  },
  "rules": {
    "jsx-a11y/no-static-element-interactions": 0,
    "comma-dangle": ["error", "never"],
    "react/forbid-prop-types": 0,
    "react/require-default-props": 0,
    "no-console": ["error", {
      "allow": ["warn", "error", "info"]
    }]
  }
}