* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  font-family: $base-font-family;
  font-size: $base-font-size;
}

html {
  overflow-x: hidden;
}

body, html {
  height: 100%;
  width: 100%;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

a, li {
  /* Avoid important here because we do want underline styles for some links */
  text-decoration: none;
}

.-no-scroll {
  overflow: hidden;
}

.is-hidden {
  display: none !important;
}
