@font-face {
  font-family: 'Fira Sans';
  font-weight: 300;
  src: url('/fonts/FiraSans-Light.ttf') format('ttf');
}

@font-face {
  font-family: 'Fira Sans';
  font-weight: 400;
  src: url('/fonts/FiraSans-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Fira Sans';
  font-weight: 700;
  src: url('/fonts/FiraSans-Medium.ttf') format('ttf');
}