@font-face {
  font-family: 'Fira Sans';
  font-weight: 300;
  src: url('./../public/fonts/FiraSansOT-Light.otf') format('otf');
}

@font-face {
  font-family: 'Fira Sans';
  font-weight: 400;
  src: url('./../public/fonts/FiraSansOT-Regular.otf') format('otf');
}

@font-face {
  font-family: 'Fira Sans';
  font-weight: 700;
  src: url('./../public/fonts/FiraSansOT-Medium.otf') format('otf');
}