// layout
$nav-height: 50px;
$max-width: 1080px;

// colors
$white: #ffffff;
$light-gray: #f2f2f2;
$medium-gray: #d1cfcf;
$dark-gray: #333333;
$parrot-green: #97be32;

// app palette (prefer using palette over colors when possible)
$theme-base: $light-gray;
$theme-secondary: $dark-gray;
$theme-accent: $parrot-green;

// fonts
$font-size-small: 14px;
$font-size-large: 35px;
$font-size-x-large: 47px;

// base settings
$base-font-family: 'Fira Sans', 'Open Sans', sans-serif;
$base-font-size: $font-size-small;