// defaults
a {
  cursor: pointer;
}

.text {
  color: $gray;

  &.-logo-title {
    color: $theme-accent;
    text-transform: uppercase;
    font-weight: $font-weight-bold;
  }

  &.-large-title {
    font-size: $font-size-x-large;
    font-weight: $font-weight-light;
  }

  &.-small-title {
    font-size: $font-size-large;
    font-weight: $font-weight-light;
  }

  &.-x-small-title {
    text-transform: uppercase;
    font-size: $font-size-small;
    font-weight: $font-weight-bold;
    line-height: 1.62;
  }

  // color overrides
  &.-white {
    color: $white;

    a {
      color: $white;
    }
  }

  &.-green {
    color: $theme-accent;

    a {
      color: $theme-accent;
    }
  }
}
