// defaults
a {
  cursor: pointer;
}

.text {
  color: $grey;

  &.-large-title {
    font-size: $font-size-x-large;
    font-weight: $font-weight-light;
  }

  // color overrides
  &.-white {
    color: $white;

    a {
      color: $white;
    }
  }

  &.-green {
    color: $theme-accent;

    a {
      color: $theme-accent;
    }
  }
}
