.l-map {
  position: relative;

  .leaflet-draw {
    position: absolute;
    top: 100px;
    right: 20px;
    margin-top: 0;
    margin-right: 0;

    .leaflet-draw-toolbar {
      border: 0;
    }
  }
}
