/* Fonts (go 1st) */
@import "./styles/fonts";

/* Lib */
@import "./styles/lib/foundation";
@import "./node_modules/react-redux-toastr/src/styles/index";

/* Reset */
@import "./styles/reset";

/* Settings */
@import "./styles/settings";
@import "./styles/base";
@import "./styles/texts";

/* Overides */
@import "./styles/leaflet";
@import "./styles/toastr";
@import "./styles/react-switch-button";

/* Layouts */
@import "./styles/layouts/l-main";
@import "./styles/layouts/l-header";
@import "./styles/layouts/l-content";
@import "./styles/layouts/l-map";
@import "./styles/layouts/l-loader";
@import "./styles/layouts/l-layers-manager";
@import "./styles/layouts/l-template";

/* Components */
@import "./styles/components/c-nav";
@import "./styles/components/c-login";
@import "./styles/components/c-landing";
@import "./styles/components/c-dashboard-menu";
@import "./styles/components/c-area-card";
@import "./styles/components/c-hero";
@import "./styles/components/c-search";
@import "./styles/components/c-date-picker";
@import "./styles/components/c-table";
@import "./styles/components/c-button";
@import "./styles/components/c-icon";
@import "./styles/components/c-article";
@import "./styles/components/c-layers-form";
@import "./styles/components/c-layers-show";
@import "./styles/components/c-add-card";
@import "./styles/components/c-card";
@import "./styles/components/c-tab";
@import "./styles/components/c-checkbox";
@import "./styles/components/c-member-list";
@import "./styles/components/c-map";
@import "./styles/components/c-form";
@import "./styles/components/c-form-footer";
@import "./styles/components/c-locate-user";
@import "./styles/components/c-zoom-control";
@import "./styles/components/c-leaflet-attribution";
@import "./styles/components/c-loading-spinner";
@import "./styles/components/c-loader";
@import "./styles/components/c-select";
@import "./styles/components/c-question-card";
@import "./styles/components/c-pill-tab";
@import "./styles/components/c-switcher";
@import "./styles/components/c-country-search";

